<header>
  <!--<li>-->
  <!--  <%#= link_to "商品一覧", items_path %>-->
  <!--</li>-->
  <!--<li>-->
  <!--  <%#= link_to "会員一覧", customers_path %>-->
  <!--</li>-->
  <!--<li>-->
  <!--  <%#= link_to "注文履歴一覧", customers_path %>-->
  <!--</li>-->
  <li>
    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
  </li>
</header>

<h1>商品編集</h1>