<body>
<p>ようこそ、ながのCAKEへ！</p>
<P>このサイトは、ケーキ販売のECサイトになります。</P>
<p>会員でない方も商品の閲覧はできますが、</p>
<p>購入には会員登録が必要になります。</p>

<h1>新着商品</h1>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td>
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.image, size: "200x200" %>
          <% end %>
        </td>
        <td><%= link_to item.product_name,item_path(item.id) %></td>
        <td><%= link_to item.price,item_path(item.id) %></td>
      </tr>
    <% end %>
  </tbody>
</body>
