@use '~bootstrap/scss/bootstrap';
.top_image {
  text-align: center;
  position: relative;
}

.top_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FF69B4;
}

header {
  display: flex;
}

.logo {
  margin: 5px;
}

.welcome {
  position: relative;
  top: 10px; /*餈質*/
  left: -500px; /*餈質*/

}

.menu {
  margin: 0 0 0 auto;

}

ul {
  display: flex;
  list-style: none;

  margin: 5px 10px;
}

// .li {
//   background-color: lightgrey;
//   display: inline;
//   width: 300px;
//   height: 30px;
//   margin: 8px;
// }

.top_link {
  margin-right: 0;
  margin-left: auto;
  width: 30%;
  display: block;
}

.about_title {
  text-align: center;
}

.about {
  text-align: center;
}

.about_image {
  text-align: center;
}

.footer {
  text-align: center;
  background-color: rgba(0,0,0,0.5);
}
